html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    background-color: #f4f4f6;
    color: #345;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* Header's design */
header {
    background: #2c3e50;
    color: #ffffff;
    padding-top: 50px;
    min-height: 250px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.highlight {
    color: #1abc9c;
}

/* button's design */
.btn {
    display: inline-block;
    color: #ffffff;
    background: #1abc9c;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: 0.3s;
}

.btn:hover {
        background: #16a085;
}

/* Section's design */
section {
    background: #ffffff;
    margin: 20px 0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Footer's design */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}